# Directories #
/build/
/bin/
target/

*.class

# Package Files #
*.jar
*.war
*.ear
*.db

# Terraform Files
ansible-terraform/terraform.tfstate
ansible-terraform/terraform.tfstate.backup
ansible-terraform/.terraform/

######################
# Eclipse
######################

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
